<h1>Home</h1>
<p>Gebruik de navigatie hier boven om een overzichtsscherm van patiënten en recepten te bekijken. Zorg dat de backend draait op <strong>localhost:8080</strong> met <strong>mvn spring-boot:run</strong>, en dat de frontend is gestart met <strong>npm run start</strong> of <strong>ng serve --proxy-config proxy.conf.json</strong>.</p>

<h2>De case</h2>
<p>Hierbij de case voor bij het 2de gesprek van volgende week <br>
Ontwikkel een webapplicatie, met een kleine JAVA backend, bijvoorbeeld gemaakt in Spring Boot. <br>
De applicatie moet geschikt zijn om patiëntgegevens op te slaan en in te zien. Maak daarvoor een overzichtsscherm en een detailscherm. Modelleer daarbij de volgende entiteiten: <br>
- Adresgegevens van de patiënt (de patiënt kan een woon- en werkadres hebben) <br>
- NAW-gegevens van de patiënt (zoals naam, geboortedatum en geslacht) <br>
- Recepten van de patiënt <br>
<br>
Tijdens het 2de gesprek zal je werk gebruikt worden als praatplaat. Lever voorafgaand aan het gesprek je code nog even aan, zodat we er alvast een blik op kunnen werpen.  Tijdens het gesprek kijken we naar de opzet, de code en gaan we in op hoe je het verder ontwikkelt zou hebben. Besteed er niet al te veel tijd aan.</p>

<h2>Mogelijke Uitbreidingen</h2>
<ul class="list-group">
        <li class="list-group-item">Sorteren van patienten, zoeken naar patienten op bijvoorbeeld achternaam, geboortedatum, adres.</li>
        <li class="list-group-item">Sorteren van en zoeken naar recepten.</li>
        <li class="list-group-item">Confirmatieschermen, successchermen/foutschermen.</li>
        <li class="list-group-item">Security, authenticatie.</li>
        <li class="list-group-item">Form validation.</li>
        <li class="list-group-item">Koppeling echte database.</li>
        <li class="list-group-item">Meer datavelden patiënt (bijvoorbeeld huisarts, verzekering, allergieën).</li>
        <li class="list-group-item">Meer datavelden medicijnen (bijvoorbeeld merk, bijwerkingen).</li>
        <li class="list-group-item">Aanpassen dosering medicatie per individu.</li>
        <li class="list-group-item">Verbetering User Experience.</li>
        <li class="list-group-item">Unit tests.</li>
        <li class="list-group-item">Bug fix: als je een wijziging aanbrengt, naar details gaat en terug gaat wordt de wijziging niet goed herladen.</li>
        <li class="list-group-item">Bug fix: soms verschuiven de recepten van positie. Ook recepten een id geven.</li>
</ul>
